:root{
	background-color: rgb(135, 206, 235);
}
p:first-child{
	color: white;
	background-color: black;
}

p:last-child{
	color: red;
}

li:first-child{
	width: 50%;
	padding: 10px;
	background: white;
	font-size: 22px;
}
li:nth-child(2){
	background: slategray;
	width: 50%;
	padding: 10px;
}

li:nth-child(3){
	background: pink;
	width: 50%;
	padding: 10px;
}

li:nth-child(4){
	background: slategray;
	width: 50%;
	padding: 10px;
}

li:last-child{
	background: white;
	width: 50%;
	padding: 10px;
	font-size: 22px;
}
